@font-face {
  font-family: 'MariaDolores';
  src: url('https://cdn.jsdelivr.net/gh/maonofogo/mariadoloresrodriguez/title-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
